<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -HRMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("login", "login", "employeereg")</li>
                    <li>@Html.ActionLink("registration", "Register", "employeereg")</li>

                </ul>
            </div>*@


             <div class="navbar-collapse collapse">
                @if (Session["user"] != null)
                {

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <li>@Html.ActionLink("MYAccount", "MyAccount", "employeereg")</li>
                    
                    @*<li>@Html.ActionLink("addtocart", "Add", "amuladdproducts")</li>*@

                    @*<li>@Html.ActionLink("Forgotpassword", "forgotpassword", "amulreg")</li>*@

                </ul>
                    <ul class="nav navbar-nav navbar-right">
                       
                        <li>@Html.ActionLink("logout", "Logout", "employeereg")</li>

                    </ul>

                }
                @if (Session["admin"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Adminhome", "admin")</li>
                        <li>@Html.ActionLink("Change Account", "Index", "admin")</li>
                        <li>@Html.ActionLink("Add ", "Upload", "admin")</li>
                        <li>@Html.ActionLink("Employee Details", "employeelist", "admin")</li>



                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li>@Html.ActionLink("logout", "Logout", "employeereg")</li>
                        @*<li>@Html.ActionLink("addtocart", "addtocart", "amuladdproducts")</li>*@

                    </ul>

                }
                @if (Session["user"] == null && Session["Admin"] == null)
                {

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        @*<li>@Html.ActionLink("amul product", "productlist", "amuladdproducts")</li>*@
                        @if (Session["cart"] != null)
                        {
                        <li>@Session["count"]</li>
                        }
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("login", "login", "employeereg")</li>
                        <li>@Html.ActionLink("registration", "Register", "employeereg")</li>
                       
                    </ul>
                }

            </div>

            @*<div class="navbar-collapse collapse">*@

            @*</div>*@
        </div>
    </div>


            
        </div>
    </div>
    <div class="footer">
        @RenderBody()
        <hr />
        <footer class="container-fluid text-center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
